:root {
  --color-primary: #222831;
  --color-secondary: #393e46;
  --color-terciary: #f96d00;

  --color-gray-light-1: #f2f2f2;
  --color-gray-light-2: #ebebeb;

  --color-gray-dark-1: #2c2c2c;
  --color-gray-dark-2: #6e6e6e;
}
