.button {
  padding: 1rem 2rem;
  border: 1px solid var(--color-gray-dark-2);
  font-size: 1.4rem;
  color: var(--color-gray-light-1);
  background-color: var(--color-primary);
  cursor: pointer;
}

.button:hover {
  color: var(--color-terciary);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.button:active {
  transform: translate(1px, 2px);
  box-shadow: none;
}
